<section>
  <article class="pokefilter">
    <app-pokefilters
      (filtersChanged)="onFiltersChanged($event)"
    ></app-pokefilters>
  </article>
  <article class="browser-pokemon">
    <app-pokemon-card
      *ngFor="let p of pokemons"
      [pokemon]="p"
    ></app-pokemon-card>
  </article>
  <article>
    <app-paginator-controler
      [totalItems]="totalPokemons"
      [itemsPerPage]="limit"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
    >
    </app-paginator-controler>
  </article>
</section>
