article {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.browser-pokemon {
  width: 99%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5em;
}
.paginaation-controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  & span {
    width: 100%;
  }
}
