<section class="tier">
  <div
    class="row"
    *ngFor="let tier of tierKeys"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event, tier)"
  >
    <aside class="label tier-{{ tier.toLowerCase() }}">
      <span contenteditable="true">{{ tier }}</span>
    </aside>

    <div class="tier-slot">
      <app-pokemon-card
        *ngFor="let p of tiers[tier]"
        [pokemon]="p"
        draggable="true"
        (dragstart)="onDragStart($event, p, tier)"
      ></app-pokemon-card>
    </div>
  </div>
</section>
