<section class="tier">
  <div class="row">
    <aside class="label tier-s">
      <span contenteditable="true">S</span>
    </aside>
  </div>
  <div class="row">
    <aside class="label tier-a">
      <span contenteditable="true">A</span>
    </aside>
  </div>
  <div class="row">
    <aside class="label tier-b">
      <span contenteditable="true">B</span>
    </aside>
  </div>
  <div class="row">
    <aside class="label tier-c">
      <span contenteditable="true">C</span>
    </aside>
  </div>
  <div class="row">
    <aside class="label tier-d">
      <span contenteditable="true">D</span>
    </aside>
  </div>
  <div class="row">
    <aside class="label tier-e">
      <span contenteditable="true">E</span>
    </aside>
  </div>
</section>
